<%= $game.aggro_player.name %> used Cheat Emissions. It's super effective! <%= $game.injured_player.name %> -10 HP. <%= $game.injured_player.name %>: <%= $game.injured_player.hp %> HP
<br></br>
<a href='/play'>Return to battlefield!</a>
