<%= $game.aggro_player.name %> used Cheat Emissions. It's super effective! <%= $game.players[:player2].name %> -10 HP. <%= $game.players[:player2].name %>: <%= $game.players[:player2].hp %> HP
<br></br>
<a href='/play'>Return to battlefield!</a>
